@model IEnumerable<CoverType>

<div class="container mb-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Cover Types List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="CoverType" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> 
               &nbsp; Create New Cover Type
            </a>
        </div>
    </div>
</div>
<br/>
<table class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Cover Type Name</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model) {
                <tr>
                      <td style="width:80%">@obj.Name</td>
                      <td class="w-75 btn-group-lg" >
                        <a 
                            asp-controller="CoverType" 
                            asp-action="Edit" 
                            asp-route-id="@obj.Id"
                            class="btn btn-primary "
                        >
                            <i class="bi bi-pencil-square"></i>
                            Edit
                        </a>
                        <a 
                            asp-controller="CoverType" 
                            asp-action="Delete" 
                            asp-route-id="@obj.Id"
                            class="btn btn-danger "
                        >
                            <i class="bi bi-trash-fill"></i>
                            Delete
                        </a>
                      </td>
                </tr>
            }
        </tbody>
</table>